*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {max-width: 350px;
    
}
main h1 {
margin: 20px 30px;
}

main h2 {
    margin: 20px 10px;
}

main p{
    text-align: right;
}

.src {
    font-weight: 200;
}
footer{
    margin: 50px 20px;
}